#root{
    position: relative;
}
#root:before{
    content: '';
    height: 100%;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -1;
    width: 100%;
    position: fixed;
    background: url(../images/blur-bg.jpg) center center no-repeat;
    background-size: cover;
}
.header-container{
    position: fixed;
    z-index: 904;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 0px 3px;
    background: rgba(0,0,0,.5);
    color: #fff;
    font-size: 14px;
}
.header-container a{
    color: #fff;
}
.header-wrap{
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-link{
    text-decoration: none;
    color: #fff !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 20px;
    padding: 10px;
}
.header-link:hover, .header-add:hover{
    cursor: pointer;
    background: #209e91;
    color: #fff !important;
}
.header-wrap svg{
    margin: 0 5px 0 0;
}
.header-add{
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 10px;
}
.header-profile__list{
    text-align: right;
    padding: 0 30px 0 0;
}
.header-profile__item{
    display: inline-block;
}
.header-profile__link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-profile__link .display-name{
    margin: 0 10px 0;
}
.header-profile__item:hover .header-profile__submenu{
    display: block;
}
.submenu-item:hover .header-profile__link{
    color: #209e91 !important;
}
.header-profile__submenu{
    display: none;
    position: absolute;
    background: #32373c;
    padding: 10px;
    width: 200px;
    right: 0px;
    top: 31px;
}
.submenu-item{
    margin: 0 0 10px;
}

/* sidebar */
.sidebar{
    position: fixed;
    background: rgba(0,0,0,.5);
    color: #fff;
    width: 150px;
    height: 100vh;
    display: inline-block;
    margin: 41px 0 0;
    padding: 10px 0;
}
.sidebar-item {
    margin: 0 0 10px;
}
.sidebar-item:hover .sidebar-link{
    background: #209e91;
} 
.sidebar-link {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    color: #fff;
}
.sidebar-link.active{
    background: #209e91;
}
.sidebar-link__text {
    margin: 0 10px;
}
.sidebar-link .sidebar-arrow{
    position: absolute;
    right: 10px;
}
.sidebar-link .sidebar-arrow.expendless{
    display: block;
}
.sidebar-link .sidebar-arrow.expendmore{
    display: none;
}
.sidebar-link.active .sidebar-arrow.expendless{
    display: none;
}
.sidebar-link.active .sidebar-arrow.expendmore{
    display: block;
}
.sub-sidebar__list{
    padding: 15px 20px 0;
    display: none;
}
.sidebar-link.active + .sub-sidebar__list{
    display: block;
}
.sub-sidebar__item{
    margin: 0 0 10px;
}
.sub-link {
    color: #fff;
}
.sub-link.active, .sub-link:hover{
    color: #209e91;
}
/* content */
#content{
    position: relative;
    left: 0px;
    top: 0px;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
}
.wrapper{
    position: relative;
    left: 150px;
    top: 41px;
    right: 0;
    bottom: 0;
    width: calc(100% - 150px);
    height: calc(100vh - 41px);
}